/* ImageSlider.css */
.image-slider-image-container {
    position: relative;
  }
  
  .image-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .image-slider-image.active {
    opacity: 1;
  }